
#header .navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2rem;
  background-color: #F9FBFC;
}

#header .navbar h1{
  color: var(--primary-color);
  font-weight: lighter;
  font-size: xx-large;
}
#header .navbar ul{
  display: flex;
}

#header .navbar ul li{
  padding: 0.5rem;
  margin: 0.7rem;
  position: relative;
}

#header .navbar ul li a{
  color: #000;
}

#header .navbar .border{
  border-radius: 5px;
  padding: 0.3rem;
}

#header .navbar ul li ul{
  display: none;
}

#header .navbar ul li:hover{
  cursor: pointer;
  background: var(--secondary-color);
  color: #fff;
  border-radius: 5px;
}

#header .navbar ul li:hover a{
  color: #fff;
}

#header .navbar ul li:hover ul{
  display: block;
  position: absolute;
  left: 2px;
  width: 200px;
  margin-top: 10px;
  background: var(--third-color);
  border-radius: 5px;
}

#hedaer .navbar ul li:hover ul li{
  display: block;
  background: var(--secondary-color);
}

#header .navbar ul li:hover ul li a{
  color: #333;
}

#header .navbar ul li:hover ul li:hover{
  background: var(--secondary-color);
  color: inherit;
}

@media screen and (max-width: 768px) {
  #header .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  #header .navbar h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  #header .navbar ul {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  #header .navbar ul li {
    display: block;
    width: 100%;
    margin: 0.3rem 0;
  }

  #header .navbar ul li a {
    width: 100%;
    display: block;
    padding: 0.5rem;
  }

  #header .navbar ul li ul {
    position: static;
    width: 100%;
    margin-top: 0;
  }

  #header .navbar ul li:hover ul{
    width: 100%;
    position: relative;
  }

  #header .navbar ul li ul li a {
    padding-left: 1.5rem;
  }

  #header .navbar ul:last-child {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    flex-wrap: wrap;
  }
}