.property-section {
  padding: 48px 5rem;
  display: flex;
  flex-direction: column;
}

.property-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  margin-inline: 10rem;
  flex-wrap: wrap;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
}

.filter-buttons {
  display: flex;
  gap: 16px;
  margin-top: 12px;
}

.filter-button {
  padding: 8px 16px;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filter-button.active {
  background: var(--primary-color);
  color: white;
}

.property-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin-inline: 10rem;
}

.property-card {
  background: var(--light-color);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.image-container {
  position: relative;
}

.property-image {
  width: 100%;
  height: 192px;
  object-fit: cover;
}

.popular-tag {
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(253, 200, 101);
  color: white;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
}

.favorite-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background: white;
  opacity: 10px;
  padding: 6px;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border: none;
  cursor: pointer;
}

.property-details {
  padding: 16px;
}

.property-title {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 8px;
}

.property-info {
  font-size: 14px;
  color: #666;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 12px;
}

.property-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.property-price {
  font-weight: bold;
}

.see-all {
  align-items: start;
  text-align: center;
  margin-top: 32px;
}

.see-all-button {
  border-radius: 10px;
  font-size: 14px;
  border: none;
  background-color: var(--primary-color);
  color: white;
  padding-inline: 1.5rem;
  padding-block: 0.5rem;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .property-grid {
    grid-template-columns: repeat(2, 1fr);
    margin-inline: 1rem;
  }

  .property-header {
    margin-inline: 1rem;
  }

  .section-title {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 576px) {
  .property-grid {
    grid-template-columns: repeat(1, 1fr);
    margin-inline: 0;
  }

  .property-info {
    flex-direction: column;
  }

  .section-title {
    font-size:2rem;
  }

  .property-price {
    font-size: 0.85rem;
  }
  .btn-loc{
    padding-inline: 0.2rem;
    padding-block: 0.5rem;
  }
}


