h4{
  font-size: x-large;
  font-weight: lighter;
}

#footer{
  padding-inline: 8rem;
  padding-top: 1rem;
  background: var(--primary-color);
  color: #fff;
}

#footer a{
  color: #fff;
}

#footer .container{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 2rem;
  padding-block: 2.5rem;
}

#footer .container .col-1,
#footer .container .col-2,
#footer .container .col-3{
  display: flex;
  flex-direction: column;
  gap: 1.85rem;
}

#footer .container .col-1 ul li{
  font-size: xx-large;
  padding-right: 2rem;
  padding-top: 3rem;
}

#footer .container .col-2 ul li,
#footer .container .col-3 ul li{
  padding-bottom: 1rem;
}

#footer .info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: small;
}

#footer .info ul{
  display: flex;
}

#footer .info ul li{
  margin: 0.7rem;
  padding: 0.5rem;
}


@media (max-width: 992px) {
  #footer {
    padding-inline: 4rem;
  }

  #footer .container {
    grid-template-columns: 1fr 1fr;
  }

  #footer .container .col-1 {
    grid-column: span 2;
  }

  #footer .info {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
}


@media (max-width: 576px) {
  #footer {
    padding-inline: 1.5rem;
  }

  #footer .container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  #footer .container .col-1,
  #footer .container .col-2,
  #footer .container .col-3 {
    align-items: flex-start;
  }

  #footer .container .col-1 {
    grid-column: span 1;
  }

  #footer .container .col-1 ul {
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
  }

  #footer .info {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-top: 0.9rem;
  }
}