@import '_header.css';
@import '_showcase.css';
@import '_icons.css';
@import '_main.css';
@import '_houses.css';
@import '_reviews.css';
@import '_faqs.css';
@import '_footer.css';

:root{
  --primary-color:#253347;
  --secondary-color:#53729e;
  --third-color: #abbcd4;
  --forth-color: #6f7e92;
  --light-color: #ecf0f7;
  --dark-color: #080808;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:'Times New Roman', Times, serif;
  line-height: 1.4;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

.btn-primary{
  background-color: var(--primary-color);
  color: #fff !important;
}

.btn-light{
  color: #000;
  border: 1px solid var(--secondary-color);
}
